<div class="panel panel-info">
<div class="panel-heading">Admin Dashboard</div>
<div class="panel-body">
  <p>The number of products are: <%= @count_products %> & the number of categories are: <%= @count_categories %><p>
  <h4><%= link_to "Admin products", admin_products_path, class: 'btn btn-sm btn-info'%> </h4>
</div>
</div>
