<header class="page-header">
    <h1>Jungle-Rails Store</h1>
  </header>
  <div><h3>Welcome to Jungle-Rails e-commerce store, we are a small business coming out vancouver that sells apparels, furniture, and electronics<h3></div>

